{
    "$schema": "https://json.schemastore.org/swcrc",
    "exclude": [
        "node_modules",
        "jest.config.ts"
    ],
    "jsc": {
        "baseUrl": "src",
        "target": "es2020",
        "parser": {
            "syntax": "typescript",
            "tsx": false,
            "decorators": false,
            "dynamicImport": false
        },
        "paths": {
            "~module/*": [
                "module/*"
            ],
            "~utils/*": [
                "utils/*"
            ],
            "~types/*": [
                "types/*"
            ],
            "~src/*": [
                "/*"
            ]
        },
        "externalHelpers": false
    },
    "module": {
        "type": "commonjs"
    }
}